$line-height: 60px;
$line-height-abs: -60px;

.border {
  content: '';
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: #333;
  vertical-align: middle;
}

html, body {
  width: 100%;
  height: 100%;
}

.l-section-top {
  width: 100%;
  height: 100%;
  background-color: #333;
  position: relative;
}

.l-section-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}

.c-title {
  margin: 0;
  color: #eee;
  text-align: center;
}

.c-scrolldown {
  width: 1px;
  height: $line-height;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
  
  .c-line {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%);
    background-position: 0 $line-height-abs;
    background-size: 100% 200%;
    animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
  }
}

.c-contents { 
  h2 {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    &::before {
      @extend .border;
      margin-right: 10px;
    }
    &::after {
      @extend .border;
      margin-left: 10px;
    }
  }
}

@keyframes scrolldown {
  0%{
    background-position: 0 $line-height-abs;
  }
  75% {
    background-position: 0 0;
  }
  100%{
    background-position: 0 $line-height;
  }
}